mixin checkboxList(array=['Завтрак','Письменный стол','Стул для кормления','Кроватка','Телевизор','Шампунь'],imgChecked='../.././img/Vector.svg')
    div.checkbox__list
        each item in array 
            div.checkbox__item
                label.checkbox__label
                    input(type="checkbox", name=item).checkbox__item__checkbox-hidden
                    .checkbox__item__checkbox-active
                        span(style=`background-image: url(${imgChecked})`)
                    .checkbox__item__text=item



