.form__filter {
    background: url("../img/form_filter_background.jpg") no-repeat;
    height: 900px;
    width: 100%;
    background-size: cover;
    min-height: 900px;
    &__wrapper {
        position: relative;
        min-height: 900px;
        form.filter {
            position: absolute;
            top: 70px;
            left: 10px;
            width: 380px;
            height: 374px;
            padding: 40px 30px 30px 30px;
            background: #ffffff;
            border: 1px solid rgba(0, 0, 0, 0.12);
            box-sizing: border-box;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
            border-radius: 4px;

            .inputs__date {
                display: flex;
                justify-content: space-between;
                margin-top: 21px;

                &__item {
                    input[type="date"] {
                        border: 1px solid $DS25;
                        border-radius: 4px;
                        padding: 10px 32px 10px 13px;
                        margin-top: 5px;
                        font-size: 14px;
                        text-transform: uppercase;
                        color: $DS75;
                        position: relative;
                        &::-webkit-calendar-picker-indicator {
                            position: absolute;
                            top: 18px;
                            right: 5px;
                            background: url(../img/expand_more.svg) no-repeat;
                            cursor: pointer;
                        }
                    }
                }
            }
            .select__date__item {
                margin-top: 20px;

                select {
                    appearance: none;
                    border-radius: 4px;
                    border: 1px solid $DS25;
                    width: 100%;
                    padding: 13px 0 13px 15px;
                    margin-top: 5px;
                    font-size: 14px;
                    line-height: 18px;
                    color: $DS75;
                    font-family: "Montserrat", sans-serif;
                    background: url(../img/expand_more.svg) no-repeat;
                    background-position-x: 290px;
                    background-position-y: center;
                    cursor: pointer;
                }
            }

            button {
                margin-top: 30px;
                width: 100%;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                text-transform: uppercase;
                color: #ffffff;
                background: linear-gradient(180deg, $Purple 0%, #8ba4f9 100%);
                border-radius: 22px;
                padding: 14px 0;
                position: relative;
                transition: opacity 0.3s;

                &:hover {
                    transition: opacity 0.3s;
                    opacity: 0.5;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 12px;
                    right: 10px;
                    width: 24px;
                    height: 24px;
                    background: url(../img/arrow_forward.svg) no-repeat;
                }
            }
        }

        .subtext {
            position: absolute;
            bottom: 15px;
            right: 0;
            max-width: 297px;
            font-size: 14px;
            line-height: 24px;
            text-align: right;
            color: $DS75;
        }
    }
}
