.form__filter {
    background: url("../img/form_filter_background.jpg") no-repeat;
    height: 830px;
    width: 100%;
    background-size: cover;
    &__wrapper {
        position: relative;
        min-height: 830px;
        form.filter {
            position: absolute;
            top: 70px;
            left: 0;
            width: 380px;
            height: 374px;
            padding: 40px 30px 30px 30px;
            background: #ffffff;
            border: 1px solid rgba(0, 0, 0, 0.12);
            box-sizing: border-box;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
            border-radius: 4px;

            .inputs__date {
                display: flex;
                justify-content: space-between;
                margin-top: 21px;

                &__item {
                    input[type="date"] {
                        appearance: none;
                        border: 1px solid $DS25;
                        border-radius: 4px;
                        padding: 10px 38px 13px 9px;
                        margin-top: 5px;
                        font-size: 14px;
                        text-transform: uppercase;
                        color: $DS75;
                        position: relative;
                        &::-webkit-calendar-picker-indicator {
                            position: absolute;
                            top: 18px;
                            right: -25px;
                            background: url(../img/expand_more.svg) no-repeat;
                            width: 44px;
                            height: 44px;
                            cursor: pointer;
                        }
                    }
                }
            }
            .select {
                margin-top: 20px;

                &__wrapper {
                    margin-top: 5px;
                    position: relative;

                    .select__backdrop {
                        display: none;
                        position: fixed;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        background-color: transparent;
                        opacity: 0.2;
                    }

                    .select__input {
                        line-height: 18px;
                        border: 1px solid $DS25;
                        border-radius: 4px;
                        padding: 13px 0 13px 15px;
                        position: relative;
                        cursor: pointer;

                        &::before {
                            content: "";
                            position: absolute;
                            right: 0;
                            top: 0;
                            background-image: url(../img/expand_more.svg);
                            background-repeat: no-repeat;
                            width: 44px;
                            height: 44px;
                            background-position: center;
                            cursor: pointer;
                        }
                    }
                    .select__drop__down {
                        display: none;
                        z-index: 1000;
                        position: absolute;
                        background-color: #ffffff;
                        border-bottom: 1px solid $DS25;
                        border-left: 1px solid $DS25;
                        border-right: 1px solid $DS25;
                        border-bottom-left-radius: 4px;
                        border-bottom-right-radius: 4px;
                        width: 318px;
                        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
                        padding: 13px 7px 13px 15px;

                        &__item {
                            display: flex;
                            justify-content: space-between;

                            & + .select__drop__down__item {
                                margin-top: 7px;
                            }

                            .select__item__text {
                                font-weight: 700;
                                font-size: 12px;
                                line-height: 15px;
                                text-transform: uppercase;
                            }

                            .select__item__content__right {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                min-width: 92px;

                                .select__item__number {
                                    font-weight: 700;
                                    font-size: 12px;
                                    line-height: 15px;
                                    text-transform: uppercase;
                                }

                                .select__item__btn {
                                    background-color: #ffffff;
                                    border: 1px solid $DS25;
                                    border-radius: 22px;
                                    color: $DS50;
                                    opacity: 0.38;
                                    font-size: 18px;
                                    width: 30px;
                                    height: 30px;
                                    cursor: default;

                                    &.active {
                                        cursor: pointer;
                                        opacity: 1;

                                        &:active {
                                            background-color: $DS25;
                                        }
                                    }
                                }
                            }
                        }

                        .select__drop__down__btn {
                            display: flex;
                            justify-content: space-between;
                            margin-top: 20px;
                            button {
                                opacity: 0;
                                overflow: hidden;
                                visibility: hidden;
                                pointer-events: none;
                                font-size: 12px;
                                line-height: 15px;
                                font-weight: 700;
                                text-transform: uppercase;
                                color: $Purple;
                                background-color: transparent;
                                transition: 0.3s;

                                &.active {
                                    opacity: 1;
                                    visibility: inherit;
                                    pointer-events: visible;

                                    &:hover {
                                        color: $DS50;
                                        transition: 0.3s;
                                    }
                                }
                            }
                        }
                    }

                    &.open {
                        .select__input {
                            border-end-end-radius: 0;
                            border-end-start-radius: 0;
                        }
                        .select__drop__down {
                            display: block;
                        }

                        .select__backdrop{
                            display: block;
                        }
                    }
                }
            }

            button.pick-up-numbers {
                margin-top: 30px;
                width: 100%;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                text-transform: uppercase;
                color: #ffffff;
                background: linear-gradient(180deg, $Purple 0%, #8ba4f9 100%);
                border-radius: 22px;
                padding: 14px 0;
                position: relative;
                transition: opacity 0.3s;

                &:hover {
                    transition: opacity 0.3s;
                    opacity: 0.5;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 13px;
                    right: 6px;
                    width: 24px;
                    height: 24px;
                    background: url(../img/arrow_forward.svg) no-repeat;
                }
            }
        }

        .subtext {
            position: absolute;
            bottom: 21px;
            right: -7px;
            max-width: 297px;
            font-size: 14px;
            line-height: 24px;
            text-align: right;
            color: $DS75;
        }
    }
}
