.header {
    &__wrapper {
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__content__right {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .menu {
                margin-right: 20px;
                &__list {
                    display: flex;
                    width: 472px;
                    justify-content: space-between;

                    &__item {
                        display: block;
                        font-size: 14px;
                        line-height: 17px;
                        width: 100%;

                        a {
                            color: $DS50;
                            transition: all 0.3s;
                        }

                        &:hover {
                            font-weight: 700;
                            a {
                                color: $DS75;
                                transition: all 0.3s;
                            }
                        }
                    }
                }
            }
        }

        .account__name {
            display: none;
            color: $DS50;
            font-size: 14px;
            line-height: 17px;
            padding: 6px 0 6px 20px;
            border-left: 1px solid $DS10;
        }

        .header__button {
            button {
                font-size: 12px;
                line-height: 15px;
                text-transform: uppercase;
                font-weight: 700;
                box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
                border-radius: 22px;

            }
            button + button {
                margin-left: 20px;
            }

            .btn__entry {
                color: $Purple;
                background-color: #ffff;
                padding: 7px 18px 8px 18px;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: -2px;
                    left: -2px;
                    right: -2px;
                    bottom: -2px;
                    border-radius: 22px;
                    background: linear-gradient($Purple, #8ba4f9);
                    z-index: -1;
                    transition: all .3s ease-out;
                }

                &:hover::before{
                    transition: all .3s ease-in;
                    opacity: 0.5;
                }
            }

            .btn__registration {
                color: #ffff;
                background: linear-gradient($Purple, #8ba4f9);
                padding: 9px 20px 10px 19px;
                transition: all .3s ease-out;

                &:hover{
                    transition: all .3s ease-in;
                    opacity: 0.5;
                }
            }
        }
    }
}
