@import "./nullstyle.scss";
@import "./vars.scss";
@import "./header.scss";
@import "./footer.scss";

body{
    font-family: "Montserrat", sans-serif;
}
.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 20px;
}