$DS100: rgba(12, 13, 25, 1);
$DS75: rgba(12, 13, 25, 0.75);
$DS50: rgba(12, 13, 25, 0.5);
$DS25: rgba(12, 13, 25, 0.25);
$DS10: rgba(12, 13, 25, 0.1);
$DS5: rgba(12, 13, 25, 0.05);
$Purple: #BC9CFF;
$Green: #6FCF97;
