include ../../elements/logo/logo.pug
include ../../elements/select/select.pug
include ../../elements/textField/textField.pug
include ../../elements/subscriptionTextField/subscriptionTextField.pug
body 
    .body__wrapper
        +logo("../../img/logo_UIkit.svg", "48px","48px")
        .elements__list 
            .element__item
                .element-name Dropdown
                +select 
            .element__item
                .element-name masked text field
                +select
            .element__item 
                .element-name Text Field
                +textFieldDefault
            .element__item 
                .element-name dropdown
                .element-status Default
                +select(placeholder='2 спальни, 2 кровати...')
                
            .element__item
                .singUp 
                    .singUp__wrapper 
                        .singUp__title
                        
                
