@import "../../elements/select/select.scss";
@import "../../scss/style.scss";
@import '../../scss/nullstyle.scss';
.body__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px;

    .elements__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        .element__item {
            width: 20%;
            margin-top: 20px;
            .element-name {
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                text-transform: uppercase;
                color: #1f2041;
            }

            .select {
                margin-top: 5px;
            }
        }
    }
}
