 include ./select/select.pug
section.form__filter
    .form__filter__wrapper.container
        form.filter
            h1 Найдём номера под ваши пожелания
            include ./datepicker/datepicker.pug
            +select
            include ./btn/btn.pug
        .subtext Лучшие номера для вашей работы, отдыха и просто вдохновения