extends ../../elements/templates/template-main/template-main.pug 
block content 
    .main
        .container
            .main__content
                include ../../elements/form_entry/form_entry.pug