.rate-track.rating_set
  .rate-track__wrapper
    .rate-track__active
    .rate-track__items
      input.rate-track__item(type="radio" value="1")
      input.rate-track__item(type="radio" value="2")
      input.rate-track__item(type="radio" value="3")
      input.rate-track__item(type="radio" value="4")
      input.rate-track__item(type="radio" value="5")
  .rate-track__value 0