include ../slider/slider.pug

mixin card-room
    .card
        .card__inner
            +slider
            .content
                .content__top
                    .content__number-room 
                        span.number-sign №
                        .number 888
                        span.room-class люкс
                    .content__price-room 9 990₽
                        span.for в сутки
                .content__bottom
                    .content__pagination
                        +rateTrack
                    .content__feedback 65
                        span Отзывов
