mixin slider(widthSlider='270px',heightSlider='151px')
    .slider(style=`width:${widthSlider};height:${heightSlider}`)
        .dots
            .dot
            .dot
            .dot.active
        .slider__wrapper
            .slider__item
                img(src='../.././img/slider1.jpg' data-item='1')
            .slider__item
                img(src='../.././img/slider2.jpg' data-item='2')
            .slider__item
                img(src='../.././img/slider3.jpg' data-item='3')