@import "../../scss/vars.scss";

.info__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    

    .info__list__item {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        padding-bottom: 17px; 
        padding-top: 20px;
        border-bottom: 1px solid rgba(31, 32, 65, 0.1);
        .info__list__item__img {
            font-size: 48px;
            line-height: 41px;
            background: -webkit-gradient(linear, left top, left bottom, from($Purple), to(#8ba4f9));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .info__list__item__info {
            font-size: 14px;
            line-height: 24px;
            color: rgba(31, 32, 65, 0.75);
            max-width: 280px;
            margin-left: 10px;
            padding-right: 25px;
            .info__list__item__title {
                font-weight: 700;
            }
            .info__list__item__text {
                font-weight: 400;
            }
        }
    }
}
