mixin button(value,backgroundColor='linear-gradient(180deg, $Purple 0%, #8ba4f9 100%', color='#ffffff')
    button(class="pick-up-numbers" style=`background-color:${backgroundColor},color:${color}`)=value