extends ../../elements/templates/template-main/template-main.pug 
block content 
    .main
        .container
            .main__content
                include ../../elements/form_search/form_search.pug
                +form_search
                .main__caption Лучшие номера для вашей работы, отдыха и просто вдохновения 