include ../../elements/head/head

+head("TOXIN")

body 
    include ../../elements/header/header.pug
    include ../../elements/form__filter/form__filter.pug
    include ../../elements/footer/footer.pug