@import "../../scss/style.scss";

.radio-btn__list {
    display: flex;
    flex-wrap: wrap;

    .radio-btn__label {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        position: relative;
        margin-right: 20px;
        margin-bottom: 10px;

        .radio-btn__item-hidden {
            -webkit-appearance: none;
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

        .radio-btn__item-visible {
            position: absolute;
            width: 20px;
            height: 20px;
            border: 1px solid rgba(31, 32, 65, 0.25);
            
            box-sizing: border-box;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            span.circle {
                display: none;
                width: 12px;
                height: 12px;
                border-radius: 10px;
                background: linear-gradient(180deg, $Purple 0%, #8BA4F9 100%);
            }
            span.border {
                position: absolute;
                top: -1px;
                left: -1px;
                display: none;
                width: 20px;
                height: 20px;
                border-radius: 10px;
                background: transparent;
                border: 1px solid ;
                border-color: $Purple;
            }
        }
    }

    .radio-btn__label.active{
        .radio-btn__item-visible {
            span.circle {
                display: block;
                
            }
            span.border {
                display: block;
                
            }
        }
    }
}
