mixin radio-btn(array=['Мужчина','Женщина'],styleInput='',styleBorder='')
    .radio-btn__list
        each item in array
            label.radio-btn__label
                input(type="radio", value=item, data-type='input').radio-btn__item-hidden 
                .radio-btn__item-visible
                    span(style=styleInput).circle
                    span.border(style=styleBorder)
                .radio-btn__item-text=item
