.select {
    margin-top: 20px;

    &__wrapper {
        margin-top: 5px;
        position: relative;

        .select__backdrop {
            display: none;
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: transparent;
            opacity: 0.2;
        }

        .select__input {
            line-height: 18px;
            border: 1px solid $DS25;
            border-radius: 4px;
            padding: 13px 0 13px 15px;
            position: relative;
            cursor: pointer;

            &::before {
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                background-image: url(../../img/expand_more.svg);
                background-repeat: no-repeat;
                width: 44px;
                height: 44px;
                background-position: center;
                cursor: pointer;
            }
        }
        .select__drop__down {
            display: none;
            z-index: 1000;
            position: absolute;
            width: -webkit-fill-available;
            width: -moz-available;
            background-color: #ffffff;
            border-bottom: 1px solid $DS25;
            border-left: 1px solid $DS25;
            border-right: 1px solid $DS25;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
            padding: 13px 7px 13px 15px;

            &__item {
                display: flex;
                justify-content: space-between;

                & + .select__drop__down__item {
                    margin-top: 7px;
                }

                .select__item__text {
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 15px;
                    text-transform: uppercase;
                }

                .select__item__content__right {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    min-width: 92px;

                    .select__item__number {
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 15px;
                        text-transform: uppercase;
                    }

                    .select__item__btn {
                        background-color: #ffffff;
                        border: 1px solid $DS25;
                        border-radius: 22px;
                        color: $DS50;
                        opacity: 0.38;
                        font-size: 18px;
                        width: 30px;
                        height: 30px;
                        cursor: default;

                        &.active {
                            cursor: pointer;
                            opacity: 1;

                            &:active {
                                background-color: $DS25;
                            }
                        }
                    }
                }
            }

            .select__drop__down__btn {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                button {
                    opacity: 0;
                    overflow: hidden;
                    visibility: hidden;
                    pointer-events: none;
                    font-size: 12px;
                    line-height: 15px;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: $Purple;
                    background-color: transparent;
                    transition: 0.3s;

                    &.active {
                        opacity: 1;
                        visibility: inherit;
                        pointer-events: visible;

                        &:hover {
                            color: $DS50;
                            transition: 0.3s;
                        }
                    }
                }
            }
        }

        &.open {
            .select__input {
                border-end-end-radius: 0;
                border-end-start-radius: 0;
            }
            .select__drop__down {
                display: block;
            }

            .select__backdrop {
                display: block;
            }
        }
    }
}