/*!********************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./elements/templates/template-elements/template-elements.scss ***!
  \********************************************************************************************************************************************************/
.body__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px;
}
.body__wrapper .content__container {
  padding: 68px 114px;
  margin: 0;
}
/*!********************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./elements/logo/logo.scss ***!
  \********************************************************************************************************************/
.logo {
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  width: 160px;
  height: 40px;
}
/*!**********************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./elements/color/color.scss ***!
  \**********************************************************************************************************************/
.colors__list {
  display: flex;
  flex-direction: column;
}
.colors__list .colors__item {
  display: flex;
}
.colors__list .color {
  border-radius: 6px;
  width: 70px;
  height: 70px;
  background-color: black;
  margin-right: 40px;
}
.colors__list .colors__item + .colors__item {
  margin-top: 20px;
}
.colors__list .color-text {
  font-size: 19px;
  line-height: 28px;
  color: #0c0d19;
}
.colors__list .color-name {
  font-weight: bold;
}
.colors__list .color-subtext {
  font-weight: normal;
}
/*!*********************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./pages/colors/colors.scss ***!
  \*********************************************************************************************************************/
@charset "UTF-8";
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(12, 13, 25, 0.75);
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #0c0d19;
}

h2 {
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
}

h3 {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #0c0d19;
  text-transform: uppercase;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}
