/*!*********************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./pages/formElements/formElements.scss ***!
  \*********************************************************************************************************************************/
@charset "UTF-8";
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(12, 13, 25, 0.75);
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #0c0d19;
}

h2 {
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
}

h3 {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #0c0d19;
  text-transform: uppercase;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.body__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px;
}
.body__wrapper .content__container {
  padding: 68px 114px;
  margin: 0;
}
.body__wrapper .select.open .select__backdrop {
  display: none;
}
.body__wrapper .elements__list .column-2 .element__item .element-name {
  margin-bottom: 16px;
}

.element-name {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.element-subtitle {
  font-weight: 400;
  color: rgba(31, 32, 65, 0.5);
}

.__grid {
  display: grid;
  justify-content: space-between;
}

.elements__list:nth-of-type(1) {
  grid-template-columns: 320px 260px 320px;
}
.elements__list:nth-of-type(1) .column-1 .element-content.datepickerInput {
  width: 266px;
}
.elements__list:nth-of-type(1) .column-1 .element-content.subscriptionTextField {
  width: 267px;
}
.elements__list:nth-of-type(1) .column-2 .element-content .checkbox + .checkbox {
  margin-top: 10px;
}
.elements__list:nth-of-type(1) .column-2 .element-content .like_btn + .like_btn {
  margin-left: 10px;
}
.elements__list:nth-of-type(1) .column-2 .element-content .rate-track + .rate-track {
  margin-left: 15px;
}

.column-3 .element__item:nth-child(2) .element-content {
  grid-template-columns: 116px 99px 1fr;
  grid-template-rows: 59px 59px 59px 1fr;
  grid-template-areas: "btn1-1 btn2-1" "btn1-2 btn2-2" "btn1-3 btn2-3" "btn1-4 btn1-4";
}
.column-3 .element__item:nth-child(2) .element-content > *:not(:last-child) {
  width: 99px;
}
.column-3 .element__item:nth-child(2) .element-content > *:nth-child(1) {
  grid-area: btn1-1;
}
.column-3 .element__item:nth-child(2) .element-content > *:nth-child(3) {
  grid-area: btn1-2;
}
.column-3 .element__item:nth-child(2) .element-content > *:nth-child(5) {
  grid-area: btn1-3;
}
.column-3 .element__item:nth-child(2) .element-content > *:nth-child(2) {
  grid-area: btn2-1;
}
.column-3 .element__item:nth-child(2) .element-content > *:nth-child(4) {
  grid-area: btn2-2;
}
.column-3 .element__item:nth-child(2) .element-content > *:nth-child(6) {
  grid-area: btn2-3;
}
.column-3 .element__item:nth-child(2) .element-content > *:last-child {
  grid-area: btn1-4;
  width: 320px;
}
.column-3 .element-name {
  margin-bottom: 16px;
}
.column-3 .element__item .pagination__wrapper {
  justify-content: flex-start;
}
.column-3 .element__item:nth-of-type(2) {
  margin-top: 47px;
}
.column-3 .element__item:nth-of-type(3) {
  margin-top: 40px;
}
.column-3 .pagination {
  justify-content: left;
}

.content-element {
  display: flex;
}

.toggle + .toggle {
  margin-top: 10px;
}

.like-btn + .like-btn {
  margin-left: 10px;
}

.rate-track-active + .rate-track-active {
  margin-left: 25px;
}

.elements__list:nth-of-type(2) {
  grid-template-columns: 266px 320px 320px;
  grid-template-rows: 79px 1fr;
  grid-template-areas: "aa  ab  ac" "ba  ab  ac";
}
.elements__list:nth-of-type(2) .element__item:nth-of-type(1) {
  grid-area: aa;
}
.elements__list:nth-of-type(2) .element__item:nth-of-type(2) {
  grid-area: ba;
}
.elements__list:nth-of-type(2) .element__item:nth-of-type(3) {
  grid-area: ab;
}
.elements__list:nth-of-type(2) .element__item:nth-of-type(4) {
  grid-area: ac;
}

.elements__list + .elements__list {
  margin-top: 100px;
}

.element_expandable_list {
  margin-top: 55px;
  grid-template-columns: 266px 266px 292px;
  grid-template-rows: 44px 1fr;
  grid-template-areas: "aa  ab  ac" "ba  ab  ac";
}
.element_expandable_list .element__item:nth-of-type(1) {
  grid-area: aa;
}
.element_expandable_list .element__item:nth-of-type(2) {
  grid-area: ba;
}
.element_expandable_list .element__item:nth-of-type(3) {
  grid-area: ab;
}
.element_expandable_list .element__item:nth-of-type(4) {
  grid-area: ac;
}

.element_footer_list {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
}
.element_footer_list .element__item:nth-of-type(1) {
  max-width: 291px;
}
.element_footer_list .element__item:nth-of-type(2) {
  max-width: 711px;
}

.m20 {
  margin-top: 20px;
}

.m40 {
  margin-top: 40px;
}

.m23 {
  margin-top: 23px;
}

.m17 {
  margin-bottom: 17px;
}

.m36 {
  margin-top: 36px;
}
/*!********************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./elements/text_field/text_field.scss ***!
  \********************************************************************************************************************************/
input.text_field {
  width: 100%;
  height: 44px;
  border: 1px solid rgba(12, 13, 25, 0.25);
  border-radius: 4px;
  padding-left: 15px;
  color: rgba(31, 32, 65, 0.75);
  font-size: 14px;
  line-height: 24px;
  transition: all 0.2s;
}
input.text_field::placeholder {
  font-size: 14px;
  line-height: 24px;
  color: rgba(12, 13, 25, 0.25);
}
input.text_field:hover, input.text_field:focus, input.text_field.hover {
  transition: all 0.2s;
  border-color: rgba(31, 32, 65, 0.5);
}
/*!**********************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./elements/masked_text_field/masked_text_field.scss ***!
  \**********************************************************************************************************************************************/

/*!********************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./elements/bulletlist/bulletlist.scss ***!
  \********************************************************************************************************************************/
.bulletList__item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: baseline;
}
.bulletList__item span.bulletList__item__marker {
  min-width: 10px;
  height: 10px;
  background: rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  margin-right: 10px;
}
.bulletList__item .bulletList__item__text {
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
/*!******************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./elements/info_list/info_list.scss ***!
  \******************************************************************************************************************************/
.info__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.info__list .info__list__item {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding-bottom: 17px;
  padding-top: 20px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}
.info__list .info__list__item .info__list__item__img {
  font-size: 48px;
  line-height: 41px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8ba4f9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.info__list .info__list__item .info__list__item__info {
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  max-width: 280px;
  margin-left: 10px;
  padding-right: 25px;
}
.info__list .info__list__item .info__list__item__info .info__list__item__title {
  font-weight: 700;
}
.info__list .info__list__item .info__list__item__info .info__list__item__text {
  font-weight: 400;
}
/*!************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./elements/review/review.scss ***!
  \************************************************************************************************************************/
.review__list .review__item {
  display: flex;
}
.review__list .__content-left {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-right: 10px;
}
.review__list .review__content__img {
  width: 48px;
  height: 48px;
  margin-bottom: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #ffffff;
  filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.1));
  border-radius: 32px;
}
.review__list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
.review__list .review__content__name {
  font-weight: 700;
}
.review__list .review__content__text {
  margin-top: 10px;
}
.review__list .review__item + .review__item {
  margin-top: 22px;
}
/*!****************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./elements/like_btn/like_btn.scss ***!
  \****************************************************************************************************************************/
.like-btn {
  min-width: 40px;
  height: 20px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 10px;
  padding-left: 5px;
}
.like-btn .like-btn__icons {
  position: relative;
  width: 15px;
}
.like-btn span.material-icons.like-btn__icon {
  height: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 10px;
  line-height: 9px;
  transition: 0.3s ease-out;
}
.like-btn .__icon-active {
  position: absolute;
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8ba4f9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.like-btn .__icon-inactive {
  opacity: 1;
  color: rgba(31, 32, 65, 0.25);
}
.like-btn .like-btn__count {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  color: rgba(31, 32, 65, 0.25);
  transition: 0.3s ease-out;
}
.like-btn.__btn-active {
  border-color: #BC9CFF;
}
.like-btn.__btn-active .__icon-inactive {
  opacity: 0;
  transition: 0.3s ease-out;
}
.like-btn.__btn-active .__icon-active {
  opacity: 1;
  transition: 0.2s ease-in;
}
.like-btn.__btn-active .like-btn__count {
  color: #BC9CFF;
  transition: 0.3s ease-in;
}

button.like-btn:focus-visible {
  outline: 1px solid rgba(31, 32, 65, 0.7);
}
/*!******************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./elements/radio_btn/radio_btn.scss ***!
  \******************************************************************************************************************************/
.radio-btn {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.radio-btn .radio-btn__text {
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.5);
}
.radio-btn .__input-hidden {
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  left: 0;
}
.radio-btn .radio-btn__input {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
.radio-btn .radio-btn__input:focus-visible ~ .__input-active {
  outline: 1px solid rgba(31, 32, 65, 0.5);
}
.radio-btn .radio-btn__input:checked ~ .__input-active {
  border: 1px solid rgba(31, 32, 65, 0);
  transition: all 0.1s;
}
.radio-btn .radio-btn__input:checked ~ .__input-active span.circle,
.radio-btn .radio-btn__input:checked ~ .__input-active span.border {
  opacity: 1;
  transition: all 0.1s;
}
.radio-btn .__input-active {
  border: 1px solid rgba(31, 32, 65, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 10px;
}
.radio-btn .__input-active span.circle {
  opacity: 0;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8ba4f9 100%);
}
.radio-btn .__input-active span.border {
  position: absolute;
  top: -1px;
  left: -1px;
  opacity: 0;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: transparent;
  border: 1px solid;
  border-color: #BC9CFF;
}

.radio-btn__list {
  display: flex;
}

.radio-btn__item + .radio-btn__item {
  margin-left: 20px;
}
/*!********************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./elements/toggle_btn/toggle_btn.scss ***!
  \********************************************************************************************************************************/
.toggle {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  cursor: pointer;
}
.toggle .toggle__input {
  min-width: 40px;
  height: 20px;
  border-radius: 10px;
}
.toggle .toggle__input:focus-visible {
  outline: 1px solid rgba(31, 32, 65, 0.5);
}
.toggle .toggle__input:checked ~ .__input-active::before {
  left: 23px;
  transition: all 0.3s ease-in;
}
.toggle .toggle__input:checked ~ .__input-active span.border {
  opacity: 1;
  transition: all 0.3s ease-in;
}
.toggle .toggle__input:checked ~ .__input-active span.circle {
  opacity: 1;
  left: 23px;
  transition: all 0.3s ease-in;
}
.toggle .__input-hidden {
  -webkit-appearance: none;
  margin-right: 10px;
}
.toggle .toggle__title {
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
.toggle .__input-active {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
}
.toggle .__input-active::before {
  content: "";
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  background: rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  transition: 0.3s ease-out;
}
.toggle .__input-active span.border {
  opacity: 0;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 40px;
  height: 20px;
  border: 1px solid #BC9CFF;
  box-sizing: border-box;
  border-radius: 10px;
}
.toggle .__input-active span.circle {
  opacity: 0;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8ba4f9 100%);
  border-radius: 10px;
}
