@import '../../scss/vars.scss';
footer {
    padding-top: 100px;

    .footer__up {
        display: flex;
        justify-content: space-between;
        padding-bottom: 100px;
        .section__info__1 {
            max-width: 260px;
            .section__info__logo__text {
                margin-top: 20px;
            }
        }

        .section__info__title {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
        }

        .section__info__list {
            font-size: 14px;
            line-height: 17px;
            color: $DS50;

            li{
                cursor: pointer;
                transition: all .3s;
            }

            li:hover{
                color: $DS100;
                transition: all .3s;
            }

            & li:first-child {
                padding-top: 21px;
            }

            & li:not(li:first-child) {
                padding-top: 20px;
            }
        }
        .section__info__5 {
            max-width: 260px;
            .section__info__input {
                padding-top: 21px;
                .input__and__button {
                    height: 44px;
                    border: 1px solid $DS25;
                    border-radius: 4px;
                    margin-top: 20px;
                    position: relative;
                    input {
                        height: 42px;
                        width: 83%;
                        padding-left: 15px;
                        &::placeholder {
                            font-size: 14px;
                            line-height: 24px;
                            color: $DS25;
                        }
                    }
                    button {
                        width: 44px;
                        height: 44px;
                        background-color: transparent;
                        position: absolute;
                        right: 0;
                    }
                }
            }
        }
    }

    .line {
        width: 100%;
        height: 1px;
        background-color: $DS25;
    }

    .footer__down{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;

        .footer__down__list ul{
            display: flex;

            li{
                transition: all .3s;
            }

            li:hover a{
                opacity: 0.5;
                transition: all .3s;
            }

            li+li{
                padding-left: 20px;
            }
        }
    }
}
