mixin menu(array)
    nav.menu
        ul.menu__list
            each item in array
                li.menu__list__item
                    a.link__top(href="/mock-address/change-me" data-title=`${item}`)=item