@import "../../scss/vars.scss";

.subscription-text-field {
    height: 44px;
    width: 100%;
    border: 1px solid $DS25;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    transition: all 0.2s;
    .subscription-text-field__input {
        height: 100%;
        width: 83%;
        border-radius: 4px;
        padding-left: 15px;
        transition: all 0.2s;
        &::placeholder {
            font-size: 14px;
            line-height: 24px;
            color: $DS25;
        }
    }
    .subscription-text-field__btn {
        width: 44px;
        height: 44px;
        background-color: transparent;
        position: absolute;
        right: 0;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 4px;
        &:focus-visible {
            transition: all 0.2s;
            border: 1px solid rgba(31, 32, 65, 0.7);
        }
    }
    &:hover,
    &:focus {
        transition: all 0.2s;
        border: 1px solid rgba(31, 32, 65, 0.5);
    }

    .material-icons {
        background: -webkit-gradient(linear, left top, left bottom, from($Purple), to(#8ba4f9));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
