include ../checkboxlist/checkboxList.pug 

mixin expandable-checkbox-list(headerName='правила дома', id)
    .expandable-checkbox-list(id=id)
        .expandable-checkbox-list-header(data-type='checkbox') 
            .expandable-checkbox-list-header-title
                h3=headerName
            .expandable-checkbox-list-header-arrow
                span.material-icons expand_more
        .expandable-checkbox-list-content
            +checkboxList
            block
