@import "../../scss/style.scss";
.expandable-checkbox-list {
    .expandable-checkbox-list-header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 17px;
        cursor: pointer;

        .expandable-checkbox-list-header-title {
            display: flex;
            flex-wrap: wrap;
        }
        .expandable-checkbox-list-header-arrow {
            .material-icons {
                color: rgba(31, 32, 65, 0.5);
                transition: transform .4s;
            }
        }
    }
    .expandable-checkbox-list-content {
        transition: opacity .1s;
        //display: none;
        transition: transform .4s;
        opacity: 0;
        transform: translateY(-2000px);
    }

    &.open {
        .expandable-checkbox-list-content {
            //display: block;
            opacity: 1;
            transform: translateY(0);
            transition: transform .4s;
            transition: opacity .6s;
        }

        .expandable-checkbox-list-header-arrow {
            .material-icons {
                transform: rotate(180deg);
                transition: transform .4s;
            }
        }
    }
}
