@import "../../scss/style.scss";
body {
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.expandable-checkbox-list {
    .expandable-checkbox-list-header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 17px;

        .expandable-checkbox-list-header-title {
            display: flex;
            flex-wrap: wrap;
        }
        .expandable-checkbox-list-header-arrow {
            .material-icons {
                color: rgba(31, 32, 65, 0.5);
            }
        }
    }
}
